@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {

  font-family: "Inter", sans-serif;

}

@theme {
  --font-surfer: "Original Surfer", sans-serif;
}

html {
  --cursor-color: #f0b100
}


html {
  scroll-behavior: smooth;
}


html, body, #root {

 overflow-x: hidden; /* hide horizontal scroll */
    overflow-y: auto;   /* allow vertical scroll */

}